<html>
  <body>
    <div id="topNavBar">
      <button type = "button" id = "day">Day</button>
      <a href = "week.html">
        <button type = "button" id = "week">Week</button>
      </a>
      <a href = "month.html">
        <button type = "button" id = "month">Month</button>
      </a>
    <a href = "{{ url_for("auth.logout") }}">
        <button type = "button" id = "logout">logout</button>
    </a>
    </div>
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
      </tr>
    </table>
  </body>
</html>
