<!doctype html>
<html>
<title>Mytodo</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_view.css') }}">

<body>
    <div id="sideNav" class="column">
        <h1>Side Navigation Bar</h1>
        <div class="navItem">
            Calendar
        </div>
    </div>

    <div id="main" class="column">
        <div id="topNav">
            <span id="topNavDate">{{get_current_date() }}</span>
            <div id="topNavBar">
                <span class="topNavButton">Day</span>
                <span class="topNavButton">Week</span>
                <span class="topNavButton">Month</span>
            </div>
        </div>
        <div id="mainView">
            <div id="monthView">
                <div id="dayLabels">
                    <span class="dayLabel">Mon</span>
                    <span class="dayLabel">Tue</span>
                    <span class="dayLabel">Wed</span>
                    <span class="dayLabel">Thu</span>
                    <span class="dayLabel">Fri</span>
                    <span class="dayLabel">Sat</span>
                    <span class="dayLabel">Sun</span>
                </div>
                <div id="dayCells">
                    {% for row in g.month_info %} 
                        <div class="dayRow">
                        {% for col in row%}
                            <span class="dayCell">
                            {% for day in col[1] %}
                            <span class="dayTodo">{{ day[1] }}</span>
                            {% endfor %} 
                            </span>
                        {% endfor%}
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>


    </div>
    </div>
</body>

</html>