<html>
  <head>
    <title>
  <head>
  <body>
    <div id="topNavBar">
      <a href = "day.html">
        <button type = "button" id = "day">Day</button>
      </a>
        <button type = "button" id = "week">Week</button>
      <a href = "month.html">
        <button type = "button" id = "month">Month</button>
      </a>
    </div>
    <table>
      <tr>
        <th></th>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
      <tr>
        <th>00:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>1:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>2:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>3:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>4:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>5:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>6:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>7:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>8:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>9:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>10:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>11:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>Noon</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>13:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>14:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>15:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>16:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>17:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>18:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>19:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>20:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>21:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>22:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>23:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
      <tr>
        <th>00:00</th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
        <th class = "hover"></th>
      </tr>
    </table>
  </body>
</html>
